.all {
	width: 100%;
	height: 100%;
	min-width: 900px;
	min-height: 1000px;
	background-image: url(/weibo/resources/img/back2.png);
}
/*容器*/
.container {
	max-width: 1000px;
	min-width: 800px;
	height: 100%;
	min-height: 720px;
	/*max-height: 780px;*/
	background-color: black;
	/*float: left;*/
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
	background-image: url(/weibo/resources/img/back2.png);
}

.null {
	width: 16%;
	height: 780px;
	min-height: 620px;
	min-width: 100px;
	background-color: black;
	float: left;
	background-image: url(/weibo/resources/img/back2.png);
}

.null_top {
	width: 60%;
	height: 14%;
	min-width: 1900px;
	min-height: 80px;
	background-color: black;
	background-image: url(/weibo/resources/img/back1.png);
}

.null_down {
	width: 60%;
	height: 40%;
	min-width: 1900px;
	min-height: 50px;
	background-color: black;
	float: left;
	background-image: url(/weibo/resources/img/back1.png);
}

/*用户头像（本人）*/
.masterimg {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	vertical-align: middle;
	cursor: pointer;
}

.cs {
	width: 10px;
	height: 20px;
	background: blue;
	top: 0px;
	position: relative;
	left: 100px;
	opacity: 0;
	display: block;
	font-size: 12px;
	transition: 0.3s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}

.masterimg:hover .cs {
	color: green;
	opacity: 1;
}

.master {
	height: 10%;
}

/*消息图标*/
/*.news{
	width: 20px;
	height: 20px;
	cursor: pointer;*/
/*padding-left:150px;*/

/*}*/
/*联系人的消息样式*/
.friends {
	display: block;
	overflow: hidden;
	padding-top: 5px;
}

.masters {
	display: block;
	overflow: hidden;
	padding-top: 5px;
}

.friendsword {
	max-width: 600px;
	display: inline-block;
	line-height: 35px;
	background-color: rgb(200, 200, 200);
	border-radius: 7px;
	position: relative;
	left: -15px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
	padding: 6px 8px;
}

.friendpicture {
	float: left;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	vertical-align: top;
	cursor: pointer;
}

.triangle {
	float: left;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-width: 15px;
	border-style: solid;
	border-color: transparent rgb(200, 200, 200) transparent transparent;
	position: relative;
	left: -13px;
	top: 4px;
}

.triangle2 {
	/*display: inline-block;*/
	float: right;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent transparent #87CEEB;
	position: relative;
	left: 7px;
	top: 3px;
}

.mastersword {
	max-width: 600px;
	display: inline-block;
	float: right;
	line-height: 35px;
	background-color: #87CEEB;
	border-radius: 7px;
	position: relative;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	left: 10px;
	padding: 6px 4px;
}

.masterpicture {
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	vertical-align: top;
	cursor: pointer;
}

/*包含两个图标的块*/
.img-outer {
	float: right;
	padding: 8px;
}

/*右上方添加好友*/
.addfriends {
	width: 40px;
	height: 40px;
	float: right;
	cursor: pointer;
}
/*功能栏图标*/
.addfunction {
	width: 40px;
	height: 40px;
	float: left;
	padding-left: 5px;
	cursor: pointer;
}
/*列表图标*/
/*.lists{
	width: 25px;
	height: 25px;
	cursor: pointer;
	/*padding-left: 0px;*/
/*}*/
/*输入文本框*/
.textinput {
	width: 99%;
	height: 98%;
	border-width: 0px;
	background-color: :red;
}
/*/*输入查找框背景色*/
.input-to-find {
	background-color: rgb(52, 53, 58);
	border-color: rgb(45, 46, 51);
}
/*查找联系人框*/
.findsomone {
	width: 89%;
	height: 30px;
	border: 1px solid;
	background-color: rgb(52, 53, 58);
	float: right;
	border-right: 0px;
	/*border-style: solid;*/
	/*border-width: 1px*/
	;
}

.Magnifier {
	width: 10%;
	height: 30px;
	background-color: rgb(52, 53, 58);
}

/*ul块*/
ul {
	overflow: auto;
	padding: 0px;
	padding-left: 0px;
	margin: 0px;
	list-style-type: none;
}

a:link {
	text-decoration: none;
}
/*li块*/
li {
	padding: 10px;
	background-color: rgb(52, 53, 58);
	/*text-align: center;*/
	border-style: groove;
	border-width: 1px;
	border-color: rgb(45, 46, 51);
	border-bottom-width: 1px;
	cursor: pointer;
	overflow-y: auto;
	overflow: auto;
}

.contacts3 {
	position: relative;
	top: 0%;
	background-color: rgb(52, 53, 58);
	/*text-align: center;*/
	border-style: groove;
	border-width: 1px;
	border-color: rgb(45, 46, 51);
	border-bottom-width: 1px;
	cursor: pointer;
	overflow-y: auto;
	overflow: auto;
}

.find_masterimg {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	vertical-align: middle;
	cursor: pointer;
}

.li_time {
	width: 50px;
	height: 10px;
	float: right;
	color: rgb(238, 238, 238);
	position: relative;
	top: 8px;
}

/*整个左边联系人列表*/
.find {
	margin-left: 0px;
	width: 280px;
	min-width: 280px;
	max-width: 280px;
	/*height:90%;*/
	background-color: rgb(42, 43, 47);
	float: left;
	height: 760px;
	min-height: 760px;
	overflow: auto;
	overflow-x: hidden;
}

.hide_persons {
	display: none;
	list-style-type: none;
	cursor: pointer;
}

.hide_per {
	width: 100%;
	height: 100%;
	background-color: rgb(42, 43, 47);
	color: white;
	display: none;
}

.hide_div {
	background-color: green;
	border-color: white;
	border-width: 10px;
	display: none;
	list-style-type: none;
	cursor: pointer;
	z-index: 999;
	position: absolute;
}

.hide_li {
	background-color: rgb(238, 238, 238);
	position: relative;
}

/*个性签名*/
.show {
	padding-left: 40px;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: rgb(180, 181, 188);
}

.shows {
	padding-left: 40px;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: rgb(180, 181, 188);
	display: block;
	position: relative;
	top: -20px;
	right: -22px;
}
/*伪类对齐文字和图标*/
.name {
	vertical-align: middle;
	color: rgb(238, 238, 238);
	font-size: 20px;
}
/*.li show:hover{

}*/
/*
.contacts li:hover{
	vertical-align:middle;
}*/
/*伪类鼠标移动事件*/
.contacts li:hover {
	background-color: lightblue;
	/*vertical-align:middle;*/
}

.contacts2 li:hover {
	background-color: lightblue;
}

.contacts3 li:hover {
	background-color: lightblue;
}

.con_time2 {
	width: 48px;
	height: 22px;
	background-color: lightgrey;
	border-radius: 10px;
	text-align: center;
	position: relative;
	right: -46.5%;
}

.con_time3 {
	width: 140px;
	height: 22px;
	background-color: lightgrey;
	border-radius: 10px;
	text-align: center;
	position: relative;
	right: -40.5%;
}

.con_time4 {
	width: 130px;
	height: 22px;
	background-color: lightgrey;
	border-radius: 10px;
	text-align: center;
	position: relative;
	right: -41%;
}

.contain_time {
	text-align: center;
	display: block;
	font-size: 15px;
	color: #a3a7ae
}

.contain_find_welcome {
	width: 1160px;
	min-width: 1000px;
	height: 760px;
	min-height: 760px;
	/*max-height: 780px;*/
	/*background-color: black;*/
	/*float: left;*/
	position: relative;
	background-image: url(/weibo/resources/img/back2.png);
	margin: 0px;
}

.welcome {
	max-width: 720px;
	/*width: 720px;*/
	/*height: 100%;*/
	min-width: 720px;
	height: 760px;
	min-height: 760px;
	background-color: rgb(245, 245, 245);
	border-style: solid;
	border-width: 0px;
	position: relative;
	margin-left: 0px;
	float: left;
}

.pargraph {
	position: absolute;
	top: 40%;
	left: 15%;
	width: 60%;
	text-align: center;
	display: block;
	font-size: 20px;
	color: #a3a7ae
}

.containt {
	width: 50%;
	height: 760px;
	min-width: 720px;
	background-color: rgb(245, 245, 245);
	border-style: solid;
	border-width: 0px;
	float: left;
	display: none;
	overflow: auto;
	overflow-x: hidden;
}

/*聊天页面上方对象人名*/
.head {
	width: 100%;
	min-width: 600px;
	height: 5%;
	text-align: center;
	background-color: rgb(245, 245, 245);
	border-style: solid;
	border-width: 0px;
	float: left;
}
/*聊天界面*/
.body {
	width: 99.8%;
	height: 65%;
	overflow: auto;
	scroll-behavior: min-width: 500px;
	background-color: rgb(245, 245, 245);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.1);
	float: left;
	/*margin: auto;*/
}

.unread {
	height: 22px;
	width: 22px;
	border-radius: 22px;
	display: inline-block;
	text-align: center;
	font-size: 1em;
	color: white;
	background: red;
	position: relative;
	top: -15px;
	left: -10px;
}
/*其他功能*/
/*.add{
	width: 70%;
	height: 5%;
	min-width: 600px;
	background-color: rgb(245,245,245);
	border-style: solid;
	border-width: 0px;
	float: left;
}*/
/*输入界面*/
.textpage {
	width: 100%;
	height: 29%;
	min-width: 600px;
	text-align: center;
	background-color: rgb(245, 245, 245);
	border-style: groove;
	border: 0px;
	float: left;
	padding: 0;
	position: relative;
	float: left;
}

.sendbutton {
	background-color: rgb(245, 245, 245);
	border-width: 1px;
}

.mastersImg {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.con2 {
	background-color: lightblue;
}

.not_find {
	position: relative;
	top: 35%;
	left: 5%;
	/*width: 20%;*/
	text-align: center;
	display: none;
	font-size: 16px;
	color: #a3a7ae;
}

#selectable .ui-selecting {
	background: lightblue;
}

#selectable .ui-selected {
	background: lightblue;
	color: black;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-autocomplete {
	position: absolute;
	cursor: default;
	border-radius: 3px;
	border: 1px solid #c0c0c0;
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
	background-color: red;
	min-width: 50px;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: .2em .4em;
	line-height: 1.5;
	zoom: 1;
}

.ui-state-hover, .ui-widget-content 
 .ui-state-hover, .ui-widget-header
 .ui-state-hover, .ui-state-focus, .ui-widget-content 
 .ui-state-focus, .ui-widget-header 
 .ui-state-focus {
	background: lightblue;
	border: none;
	color: red;
	border-radius: 0;
	font-weight: normal;
}