body {
	background-color: #FFF0F5;
}

.container {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

.head {
	position: relative;
	background-color: #5170ad;
	width: 950px;
	height: 300px;
}

.content {
	margin-top: 15px;
	postionL: relative;
	background-color: #FFFFFF;
	width: 950px;
}

.portrait_name {
	position: relative;
	top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.portrait {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.name {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.profile_data {
	position: absolute;
	background-color: #FFFFFF;
	width: 950px;
	bottom: 0px;
	font-size: 20px;
	overflow: hidden;
}

.button_group {
	width: 160px;
	margin-left: auto;
	margin-right: auto;
}

.PI_FollowButton { /*new*/
	float: left;
	width: 63%;
	position: relative;
	top: -8px;
	left: 0%;
}

.PI_FollowButtonDetail { /*new*/
	border-radius: 15%;
	background-color: white;
}

.PI_Chat { /*new*/
	float: left;
	position: relative;
	top: -8px;
}

.PI_setFont {
	font-size: large;
}

.PI_ChatDetail { /*new*/
	border-radius: 12%;
	background-color: lightblue;
}

.profile_data {
	position: absolute;
	background-color: #FFFFFF;
	width: 950px;
	bottom: 0px;
	font-size: 20px;
	overflow: hidden;
}
/* .profile_data ul{
	margin-left:20px;
} */
.nickname {
	font-size: 25px;
}

.content table {
	top: 20px;
	text-align: right;
	position: relative;
	border-collapse: separate;
	border-spacing: 20px;
	width: 600px;
	margin-left: 20px;
	font-size: 20px;
}

.table_wrapper {
	position: relative;
	top: 20px;
	border-style: solid;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px 0px 0px 0px;
	border-color: gray;
}

.information {
	text-align: left;
}

#content_title {
	position: relative;
	top: 20px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
}

.label_tip {
	color: #668B8B;
}

.userPics { /*change*/
	height: 50px;
	width: 50px;
	float: left;
	position: relative;
	top: 1em;
	border-radius: 50%;
	left: 0.3em;
}

.followFont { /*change*/
	position: relative;
	left: 4.9em;
	top: -1.0em;
}

.introdution { /*change*/
	position: relative;
	left: 4.9em;
	top: -2.0em;
	color: gray;
}

.setHeight {
	height: 120px;
}

.followCancer { /*change*/
	position: absolute;
	left: 70%;
}

.allFollow { /*change*/
	position: absolute;
	left: 80%;
}

.userName:link {
	text-align: left;
	color: #333333;
	font-weight: 600;
	font-size: 120%;
	text-decoration: none;
	margin-left: 10px;
}

.userName:visited {
	text-decoration: none;
	color: #333333;
}

.userName:hover {
	color: red;
	text-decoration: none;
}

.content1 {
	position: relative;
	width: 100%;
	padding: 40px;
	background-color: white;
	margin-top: 10px;
	padding-bottom: 0px;
}

.PageTPart {
	text-align: center;
	width: 950px;
	height: 60px;
	background-color: white;
}

.UserimgBox {
	position: relative;
	height: 60px;
	width: 60px;
	float: left;
	border-radius: 50%;
}

.WeiboPersonal {
	position: relative;
	text-align: left;
	left: 5px;
	float: left;
	padding-right: 55px;
}

.textbox {
	height: 50%;
	margin-top: 3.8em;
	height: auto;
	text-align: left;
	width: 90%;
	word-wrap: break-word;
	margin-left: 75px;
}

.userName:link {
	text-align: left;
	color: #333333;
	font-weight: 600;
	font-size: 120%;
	text-decoration: none;
}

.userName:visited {
	text-decoration: none;
	color: #333333;
}

.userName:hover {
	color: red;
	text-decoration: none;
}

.imgWholeBox {
	text-align: left;
	width: auto;
	margin-left: 55px;
	max-width: 500px;
}

.imgWholeBox1 {
	text-align: left;
	width: auto;
	margin-left: 75px;
	max-width: 400px;
}

.imgWeiboBoxPicsTop {
	height: 120px;
	width: 120px;
	margin-top: 5px;
}

.detele_l {
	position: absolute;
	left: 90%;
}

.detele_Font {
	color: #BBBBBB;
}

.detele_Font:hover {
	color: red;
	text-decoration: none;
}

.bottomWeibo {
	margin-left: -40px;
	background: rgb(247, 247, 247);
	width: 950px;
	height: 21px;
	margin-top: 10px;
	border-top: #E3E3E3 solid 0.5px;
}

.bottomWeibo1 {
	width: 237.5px;
	border-right: #E3E3E3 solid 2px;
	float: left;
	text-align: center;
}

.bottomWeiboNum {
	margin-left: 4px;
	color: #707070;
	display: inline-block;
	position: relative;
	top: 1px;
}

.aStyle {
	text-decoration: none;
}

.aStyle:hover {
	text-decoration: none;
}

.bottomWeibo2 {
	width: 237.5px;
	border-right: #E3E3E3 solid 2px;
	float: left;
	text-align: center;
}

.bottomWeibo3 {
	width: 237.5px;
	border-right: #E3E3E3 solid 2px;
	float: left;
	text-align: center;
}

.bottomWeibo4 {
	width: 237.5px;
	float: left;
	text-align: center;
}

.Comment {
	width: 100%;
	max-height: 500px;
	background-color: #F7F7F7;
	padding-right: auto;
	display: none;
}

.Com_Box {
	width: 100%;
	text-align: center;
	padding: 0.8em 2em;
	padding-bottom: 5px;
}

.Com_width {
	width: 100%;
}

.Com_Button {
	margin-left: 80%;
	margin-top: 0.1em;
}

.CommentList {
	list-style-type: none;
	padding: 0;
	border: #DEE3E3 solid 0.5px;
}

.CommentLineOfList {
	border: #DEE3E3 solid 0.5px;
	width: 100%;
	padding: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-align: left;
	word-wrap: break-word;
}

.Com_Time {
	color: gray;
}

.CenterMandRP {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.CommentButtom {
	text-align: center;
	color: gray;
}

.CommentButtomA {
	color: #AAAAAA;
}

.hideBackgroud {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(131, 139, 131, 0.65);
	display: none;
}

.forwardTickCloseTick {
	position: relative;
	left: 80%;
}

.commentReplyPart {
	position: fixed;
	width: 480px;
	height: 190px;
	left: 30%;
	top: 30%;
	background-color: white;
	z-index: 101;
	display: none;
	border: gray solid 2px;
	border-radius: 10%;
}

.commentPartTextArea {
	width: 90%;
	height: 70px;
	position: relative;
	left: 5%;
	top: -1em;
}

.ShowBigImgPart {
	position: fixed;
	display: none;
	z-index: 101;
	width: 100%;
	height: 100%;
	text-align: center;
}

.forwardTickCloseTick1 {
	margin-left: 45%;
}

.ShowBigImg {
	max-width: 450px;
	max-height: 350px;
	margin-top: 13%;
}

.bgcontainer {
	text-align: center;
	background: #FFF0F5;
	min-width: 1500px;
	width: 100%;
}

.chatPart {
	border-radius: 50%;
	position: fixed;
	z-index: 101;
	left: 50%;
	top: 50%;
	margin-top: -125px;
	margin-left: -250px;
	width: 500px;
	height: 250px;
	display: none;
}

.chatTB {
	color: white;
	width: 500px;
	background-color: #5170ad;
	padding-left: 15px;
	padding-top: 0.1px;
	padding-bottom: 0.1px;
}

.closeChat {
	position: absolute;
	margin-top: -30px;
	margin-left: 450px;
	width: 20px;
	height: 20px;
}

.chatCB {
	background-color: white;
	height: 210.1px;
	width: 500px;
}

.userTitle {
	display: inline-block;
	margin-top: 30px;
	margin-left: 10%;
}

.textareaB {
	margin-top: 10px;
	margin-left: 10%;
}

.chatPartTextTitle {
	position: relative;
	top: -88px;
}

.chatPartTextArea {
	width: 340px;
	height: 100px;
	position: relative;
	border-radius: 2%;
}

.marginSet1 {
	margin-left: 318px;
	display: inline-block;
}

.marginSet2 {
	margin-left: 10px;
	display: inline-block;
}

.hideBackgroud {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(131, 139, 131, 0.65);
	display: none;
}

#loadall {
	background-color: white;
	text-align: center;
	font-size: 16px;
	color: #9E9E9E;
	height: 50px;
	line-height: 50px;
}

.atPeople {
	color: #FF6347;
	cursor: pointer;
}