@CHARSET "UTF-8";

.bgBody {
	background: rgba(131, 139, 131, 0.3);
}

.followContent {
	text-align: center;
	width: 58%;
	min-width: 900px;
	margin: 0px auto;
	/*     background-color: red;*/
}

.bigcon1 {
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	min-width: 900px;
	position: relative;
	top: 80px;
	/*float: left;*/
}
/*.bigcon2{
	margin-top: 0px;
	width: 100%;
	height: 1870px;
	background-color: red;
	min-width: 900px;*/
/*float: left;*/
/*}*/
.leftCon {
	text-align: left;
	float: left;
	width: 20%;
	min-width: 100px;
	background-color: #5170ad;
	position: relative;
	top: -2%;
}

.rightCon {
	text-align: left;
	float: left;
	width: 635px;
	background: rgba(131, 139, 131, 0.3);
	position: relative;
	top: -2%;
}

.userPics { /*change*/
	height: 60px;
	width: 60px;
	float: left;
	position: relative;
	top: 1%;
	border-radius: 50%;
	left: 0.3em;
}

.followFont { /*change*/
	position: relative;
	left: 4.9em;
	top: -1em;
}

.introdution { /*change*/
	position: relative;
	left: 4.9em;
	top: -2em;
	color: gray;
}

.followCancer { /*change*/
	left: 70%;
	position: absolute;
}

.allFollow { /*change*/
	position: absolute;
	left: 82%;
}

.userName:link {
	text-align: left;
	color: #333333;
	font-weight: 600;
	font-size: 120%;
	text-decoration: none;
}

.userName:visited {
	text-decoration: none;
	color: #333333;
}

.userName:hover {
	color: red;
	text-decoration: none;
}

.Page0 { /*change*/
	position: relative;
	left: 35%;
	top: -1.7em;
}

.Page1 { /*change*/
	height: 45px;
	width: 635px;
	float: left;
	position: relative;
	top: 1px;
}

.list-group-item-head {
	height: 55px;
	background-color: rgb(252, 252, 252);
}

.triangle {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent grey transparent;
	position: relative;
	left: -6%;
	top: 52%;
}

.user {
	float: left;
	font-size: 20px;
	font-family: "黑体";
	font-weight: 900;
	position: relative;
	left: 2%;
	top: 1%;
}

.agree {
	float: left;
	color: rgb(52, 83, 145);
	position: relative;
	left: 3%;
	top: 2.8%;
	font-size: 17px;
}

.content {
	width: 480px;
	min-width: 480px;
	min-height: 60px;
	height: auto;
	background-color: rgb(230, 230, 230);
	/*float: left;*/
	clear: both;
	position: relative;
	top: -19px;
	left: 10%;
	margin: 10px;
}

.call {
	/*width: auto;*/
	color: red;
	float: left;
	display: inline;
	font-size: 16px;
	margin-left: 3px;
	margin-right: 2px;
	/*padding: 10px;*/
	/*-webkit-box-flex:1;*/
}

.single {
	text-align: center;
	font-size: 18px;
	position: relative;
	top: 18px;
	left: 37px;
}

.formal {
	display: inline;
	line-height: 23px;
	word-wrap: break-word;
	/*float: left;*/
	/*word-break: break-all;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow: hidden;*/
	/*-webkit-box-orient: horizontal;*/
	font-size: 16px;
}

.data {
	float: left;
	position: relative;
	top: 12%;
	left: 11%;
}

.call_back {
	width: 104%;
	height: 28px;
	/*float: left;*/
	text-align: center;
	position: relative;
	top: 15%;
	left: -2%;
	border-top-style: groove;
	border-width: 1px;
	border-color: rgba(250, 250, 250, 0.4);
	border-bottom-width: 1px;
	/*min-height: 60px;*/
	/*font-size: 18px;*/
	/*line-height: 59px;*/
	/*min-height: 47px;*/
	font-size: 18px;
	float: left;
	text-align: center;
	line-height: 40px;
}

.call_back:hover {
	cursor: pointer;
}

.Exclamatory {
	width: 25px;
	height: 25px;
}

.clearListStyle {
	list-style-type: none;
}

.content1 {
	position: relative;
	width: 635px;
	padding: 30px;
	background-color: white;
	margin-top: 10px;
	padding-bottom: 0px;
}

.UserimgBox {
	position: relative;
	height: 50px;
	width: 50px;
	float: left;
	border-radius: 50%;
}

.WeiboPersonal {
	position: relative;
	text-align: left;
	left: 5px;
	float: left;
	padding-right: 55px;
}

.textbox {
	height: 50%;
	position: relative;
	margin-top: 3.8em;
	height: auto;
	text-align: left;
	width: 80%;
	word-wrap: break-word;
	left: 55px;
}

.userName:link {
	text-align: left;
	color: #333333;
	font-weight: 600;
	font-size: 120%;
	text-decoration: none;
}

.userName:visited {
	text-decoration: none;
	color: #333333;
}

.userName:hover {
	color: red;
	text-decoration: none;
}

.detele_l {
	position: absolute;
	left: 90%;
}

.detele_Font {
	color: #BBBBBB;
}

.detele_Font:hover {
	color: red;
	text-decoration: none;
}

.imgWholeBox {
	text-align: left;
	width: auto;
	margin-left: 55px;
	max-width: 500px;
}

.imgWholeBox1 {
	text-align: left;
	width: auto;
	margin-left: 55px;
	max-width: 400px;
}

.imgWeiboBoxPicsTop {
	height: 100px;
	width: 100px;
	margin-top: 5px;
}

.bottomWeibo {
	text-align: center;
	margin-left: -30px;
	background: rgb(247, 247, 247);
	width: 635px;
	height: 21px;
	margin-top: 10px;
	border-top: #E3E3E3 solid 0.5px;
}

.bottomWeibo1 {
	width: 158.75px;
	border-right: #E3E3E3 solid 2px;
	float: left;
}

.bottomWeiboNum {
	margin-left: 4px;
	color: #707070;
	display: inline-block;
	position: relative;
	top: 1px;
}

.aStyle {
	text-decoration: none;
}

.aStyle:hover {
	text-decoration: none;
}

.bottomWeibo2 {
	width: 158.75px;
	border-right: #E3E3E3 solid 2px;
	float: left;
}

.bottomWeibo3 {
	width: 158.75px;
	border-right: #E3E3E3 solid 2px;
	float: left;
}

.bottomWeibo4 {
	width: 158.75px;
	float: left;
}

.hideBackgroud {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(131, 139, 131, 0.65);
	display: none;
}

.forwardTickCloseTick {
	position: relative;
	left: 80%;
}

.commentReplyPart {
	position: fixed;
	width: 480px;
	height: 190px;
	left: 30%;
	top: 30%;
	background-color: white;
	z-index: 101;
	display: none;
	border: gray solid 2px;
	border-radius: 10%;
}

.commentPartTextArea {
	width: 90%;
	height: 70px;
	position: relative;
	left: 5%;
	top: -1em;
}

.ShowBigImgPart {
	position: fixed;
	display: none;
	z-index: 101;
	width: 100%;
	height: 100%;
	text-align: center;
}

.forwardTickCloseTick1 {
	margin-left: 45%;
}

.ShowBigImg {
	max-width: 450px;
	max-height: 350px;
	margin-top: 13%;
}

.atPeople {
	color: #FF6347;
	cursor: pointer;
}

.Comment {
	width: 100%;
	max-height: 500px;
	padding-top: 0;
	background-color: #F7F7F7;
	padding-right: auto;
	display: none;
}

.Com_Box {
	width: 100%;
	text-align: center;
	padding: 0.8em 2em;
	padding-bottom: 5px;
}

.Com_width {
	width: 100%;
}

.Com_Button {
	margin-left: 80%;
	margin-top: 0.1em;
}

.CommentList {
	list-style-type: none;
	padding: 0;
	border: #DEE3E3 solid 0.5px;
}

.CommentLineOfList {
	border: #DEE3E3 solid 0.5px;
	width: 100%;
	padding: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-align: left;
	word-wrap: break-word;
}

.Com_Time {
	color: gray;
}